# name: Security Scan

# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main

# jobs:
#   trivy-scan:
#     runs-on: ubuntu-latest
#     steps:
#       # Checkout repo
#       - name: Checkout repository
#         uses: actions/checkout@v3

#       # Build Docker image
#       - name: Build Docker image
#         run: docker build -t mynodeapp:ci .

#       # Run Trivy scan
#       - name: Scan Docker image with Trivy
#         uses: aquasecurity/trivy-action@0.24.0
#         with:
#           image-ref: mynodeapp:ci
#           format: table
#           vuln-type: os,library
#           severity: CRITICAL,HIGH
#           exit-code: 1
